# Sardines
<a href="https://www.collegepuzzlechallenge.com/Puzzles/ViewPuzzle.ashx?id=1360">Puzzle</a>.

This is a meta-puzzle, meaning it is solved by using the answers to previous puzzle. Since Sardines was a pre-puzzle (before the competition day), it used the answers from the five other pre-puzzles: UNDERTHESEA, THAMES, TROUBLE, SPLAT, and SPOTKELP. The Sardines crossword is formed by removing a letter from each of the puzzle answers. We had no idea which letter to remove, so I wrote a script to find all the removal combinations and save them to csv files. The resulting files are also in this folder.

In [12]:
import pandas as pd
import numpy as np

In [31]:
answer11 = 'UNDERTHESEA'
answer6 = 'THAMES'
answer7 = 'TROUBLE'
answer5 = 'SPLAT'
answer8 = 'SPOTKELP'

In [32]:
#create the shortened word
index11 = 0
less11 = answer11[:index11] + answer11[index11+1:]
less11

'NDERTHESEA'

In [33]:
index6 = 0
less6 = answer6[:index6] + answer6[index6+1:]
less6

'HAMES'

In [34]:
def remove_letter(answer, index):
    less = answer[:index] + answer[index+1:]
    return less

In [35]:
index7 = 0
index5 = 0
index8 = 0

In [36]:
less7 = remove_letter(answer7, index7)
print(less7)
less5 = remove_letter(answer5, index5)
print(less5)
less8 = remove_letter(answer8, index8)
print(less8)

ROUBLE
PLAT
POTKELP

In [37]:
# make all the rows the same length by zero padding them according to the crossword
row6 = '0' + less6 + '0000'
row7 = '00' + less7 + '00'
row5 = '0000' + less5 + '00'
row8 = '000' + less8

In [38]:
#create a row to separate the solutions
buffer_row = '0000000000'

In [39]:
grid = [list(less11), list(row6), list(row7), list(row5), list(row8), list(buffer_row)]
grid

[['N', 'D', 'E', 'R', 'T', 'H', 'E', 'S', 'E', 'A'],
 ['0', 'H', 'A', 'M', 'E', 'S', '0', '0', '0', '0'],
 ['0', '0', 'R', 'O', 'U', 'B', 'L', 'E', '0', '0'],
 ['0', '0', '0', '0', 'P', 'L', 'A', 'T', '0', '0'],
 ['0', '0', '0', 'P', 'O', 'T', 'K', 'E', 'L', 'P'],
 ['0', '0', '0', '0', '0', '0', '0', '0', '0', '0']]

In [40]:
#create the crossword as a DataFrame so they can be appended easily
grid = pd.DataFrame(grid)
grid

   0  1  2  3  4  5  6  7  8  9
0  N  D  E  R  T  H  E  S  E  A
1  0  H  A  M  E  S  0  0  0  0
2  0  0  R  O  U  B  L  E  0  0
3  0  0  0  0  P  L  A  T  0  0
4  0  0  0  P  O  T  K  E  L  P
5  0  0  0  0  0  0  0  0  0  0

In [43]:
grid_list = pd.DataFrame(columns=[0,1,2,3,4,5,6,7,8,9]) #empty DataFrames can be made, but empty arrays cannot be
grid_list = grid_list.append(grid)
grid_list = grid_list.append(grid)
grid_list

   0  1  2  3  4  5  6  7  8  9
0  N  D  E  R  T  H  E  S  E  A
1  0  H  A  M  E  S  0  0  0  0
2  0  0  R  O  U  B  L  E  0  0
3  0  0  0  0  P  L  A  T  0  0
4  0  0  0  P  O  T  K  E  L  P
5  0  0  0  0  0  0  0  0  0  0
0  N  D  E  R  T  H  E  S  E  A
1  0  H  A  M  E  S  0  0  0  0
2  0  0  R  O  U  B  L  E  0  0
3  0  0  0  0  P  L  A  T  0  0
4  0  0  0  P  O  T  K  E  L  P
5  0  0  0  0  0  0  0  0  0  0

In [47]:
#save to file
filename = 'grid_list' + str(index11) + '.csv'
filename

'grid_list0.csv'

In [48]:
with open(filename, mode='w') as file:
    grid_list.to_csv(file)

In [49]:
#put it all together
buffer_row = '0000000000'

for index11 in range(11):
    less11 = remove_letter(answer11, index11)
    
    grid_list = pd.DataFrame(columns=[0,1,2,3,4,5,6,7,8,9])
    
    for index6 in range(6):
        less6 = remove_letter(answer6, index6)
        row6 = '0' + less6 + '0000'
        
        for index7 in range(7):
            less7 = remove_letter(answer7, index7)
            row7 = '00' + less7 + '00'
            
            for index5 in range(5):
                less5 = remove_letter(answer5, index5)
                row5 = '0000' + less5 + '00'
                
                for index8 in range(8):
                    less8 = remove_letter(answer8, index8)
                    row8 = '000' + less8
                    
                    grid = [list(less11), list(row6), list(row7), list(row5), list(row8), list(buffer_row)]
                    grid_list = grid_list.append(grid)
                    
    filename = 'grid_list' + str(index11) + '.csv'
    with open(filename, mode='w') as file:
        grid_list.to_csv(file)